@import "tailwindcss";

:root {
  --font-inter: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji";
}

.dot {
  display: inline-block;
  width: 0.5rem;           /* size-2 */
  height: 0.5rem;
  border-radius: 9999px;
  background-color: rgb(52 211 153); /* emerald-400 */
  vertical-align: middle;
  margin-right: 0.5rem;    /* mr-2 */
  
  /* blinking animation */
  animation: blink 7s infinite;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

html {
  scroll-behavior: smooth;
}
